<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Saludos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <form method="post" th:object="${saludoDTO}" th:action="@{/saludos}">
    
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="idioma">Idioma:</label>
        <select id="idioma" name="idioma">
                <option value="">Selecciona un idioma</option>
                <option value="es">Español</option>
                <option value="en">English</option>
                
            </select>

        <button type="submit">Enviar</button>
    </form>
    <div>
    <label for="Mensaje">Mensaje:</label>
    <div class="español" th:if="saludo">
        <span th:text="${saludoEsp}" ></span>
    </div>
    <div class="ingles" th:if="saludoEng">
        <span th:text="${saludoEng}" ></span>
    </div>
    </div>
</body>
</html>